.logo {
    display: inline-block;
    color: $hover-logo-buttonfont-color;
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  
  }
  
  .logo-header {
    color: #000000;
  }

.logo-link {
    color: $hover-logo-buttonfont-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
}



