.mobile-menu {
    min-height: 40px;
    min-width: 40px;
    
    margin: 0;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    
}
.mobile-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding:48px 40px 150px 40px;
    
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}
.mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
}
.menu {
     font-family: roboto, sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 40px;
     line-height: 1.18;
     letter-spacing: 0.02em;
     
     
     &__link {
         color: $primary-text-color;
}
 &__link--current {
     color: $hover-logo-buttonfont-color;
 }
 &__item:not(:last-child) {
         margin-bottom: 32px;
     }
    }
    .menu-contact{
         margin-top: auto;
         margin-bottom: 64px;
        font-weight: 500;
        
         &__item {
         &:not(:last-child) {
                        margin-bottom: 32px;
                    }
                }
        
       &__link {
        color: $description-about-color;
        font-size: 24px;
        line-height: 28px;
        
       &--accent {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: $hover-logo-buttonfont-color;
        }
       }
     }
    .social-menu{
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  
      &__item {
        font-weight: 500;
        font-family: roboto, sans-serif;
       font-size: 18px;
     line-height: 1.2;
    margin-right: 10px;
                    }
                
     &__link {
         color: $hover-logo-buttonfont-color;
                
    .social-menu__item:not(:last-child) &::after {
           content: '|';
          margin-left: 10px;
         color: rgba(33, 33, 33, 0.2);
                        }
                    }
                }
                // Tablet //
                         @media screen and (min-width: $tablet) {
                             .mobile-menu {
                                 display: none;
                             }
                         }
    