      $primary-text-color: #212121;
      $hover-logo-buttonfont-color: #2196f3;
      $text-color: #212121;
      $description-about-color: #757575;
      $card-set-gap: 30px;
      $svg-color: #AFB1B8;
